<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="/bands.css">
</head>

<body>

  <div class="card-header">
    <h1 align="center"> Bands List</h1>
    <span style="float:right;"><button class="btn btn-dark" onclick="location.href = './logout';">Logout</button></span>
    <h4>Hello {{name}}</h4><button class="btn btn-dark" onclick="location.href = './profile';">Profile</button>
    <hr>
    <br>
    <center>
      <form method="post" align="center" action="/add">
        <div style="text-align:center;">
          <input type="text" style="width: 560px; margin-left : 340px" class="form-control" placeholder="Add new band to the list..."
            name="bandName">
        </div>
      </form>
    </center>
  </div>
  <div class="card-body">
    <div class="input-group form-group">
      <div class="input-group-prepend">
      </div>
      <div class="container">
      <table bgcolor="black" border="2" align="center"  cellpadding="10" cellspacing="10">
        <tr>
          <th style="text-align:center">BandName</th>
          <th style="text-align:center">Actions</th>
        </tr>
        {{#each bands as |band|}}
        <tr>
          <td style="text-align:center">{{band.bandName}}</td>
          <td style="text-align:center"><button class="btn btn-dark" onclick="location.href = './delete/{{band.Sno}}';">DEL❌</button>
            <button class="btn btn-dark" onclick="location.href = './update/{{band.Sno}}';">EDIT📝</button></td>
        </tr>
        {{/each}}
      </table>
    </div>
  </div>
  </form>
  </div>

</body>

</html>